
body{
font-family: 'Inconsolata', monospace;
font-size: 20px;
margin: 0;
height: 100%;
}


h1,h2,h3 .skills-list {
  font-family: 'Raleway', sans-serif;
}
img {
  /* this is limiting the width of the image in relation to its parent max */
  max-width: 100%;
}

nav {
  position: fixed;
  background-color: #ed7867;
  z-index: 1;  /*layers,base number is 0 */
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav ul li {
  display: inline-block;
  padding: 0 15px;
  margin: 0;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: black
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 21px;
line-height: 130%;
}

header {
  top: 70px;
  position: relative;
  margin-bottom: 120px;
  /* background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px; */

}

@media (min-width: 640px) {
  h1 {
    font-size:50px;
  }

}

@media (min-width: 768px) {
h1{
  font-size: 100px;
  line-height: 110%;
  }
}
@media (min-width: 640px) {
h2{
  font-size: 30px;
  line-height: 110%;
}
}
@media (min-width: 768px) {
h2{
  font-size: 50px;
  line-height: 110%;
}
}
h3{
  font-size: 30px;
  line-height: 110%;
  margin-left: 15px;
}

.buttom{
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin: 40px;
  display: inline-block;
  border-radius: 20px;
}


.bio {
margin: 20px;
}

.columnleft {
background-color: #aed9ff;
}

figcaption{
  font-size: 10px;
  text-align: center;
}

ul li {
  margin: 10px;
  align-items: center;
}

.face{
  filter: drop-shadow( 10px 5px 0px #ffff);
  margin-top: 30px;
}

.headerProject{
  /* box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.5); */
  margin-top: 30px;
}


.skills-list {
    text-align: center;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 130px;
}

footer{
  text-align: center;
  height: 300px;
}

.colunanios{
 width: 330;
}
  .col-sm {
  align-content: center;
  display: grid;
  }

p{
  margin-left: 20px;
  margin-right: 15px;
}
